<title>Blepo demo</title>

<center><h1>Blepo Demo</h1></center>

<p>
Screenshot:
<center><img src="blepo_demo.gif" width="711" height="482"></center>

<p>
<center><a href="blepo_demo_0.6.4b.zip">Download and run the demo</a> (Windows executable).</center>

<p>
The resizable figure window, shown below, displays the image along with individual pixel values.  The menu allows 
the user to load or save PGM/PPM/BMP/JPEG files, and to write EPS files (especially handy for including figures
in Latex documents).  Mouse clicks can be captured effortlessly using methods of the figure class, without having
to specify callbacks.

<center><img src="blepo_figure.gif" width="208" height="339"></center>

<p>
Previous versions of the demo:
<ul>
<li><a href="blepo_demo_0.6.4.zip">Demo version 0.6.4</a></li>
<li><a href="blepo_demo_0.6.3b.zip">Demo version 0.6.3</a></li>
<li><a href="blepo_demo_0.6.1.zip">Demo version 0.6.1</a></li>
<li><a href="blepo_demo_0.6.0.zip">Demo version 0.6.0</a></li>
<li><a href="blepo_demo_0.5.0.zip">Demo version 0.5.0</a></li>
<li><a href="blepo_demo_0.4.3.zip">Demo version 0.4.3</a></li>
</ul>