<title>Blepo download</title>
<center><h1>Blepo Download</h1></center>

<h2>Downloading the library</h2>

<p>Blepo versions available for download:</p>
<ul>
<li><i><a href="blepo_0.6.4.zip">Version 0.6.4 ( 3 Sep 2008)</a></i> (9 MB)
</ul>

<a href="history.html">History of versions</a>

<h2>Setting up your system</h2>

<p>Once you have downloaded the code and unzipped it, you will need to do the 
following to set up your system.  Hopefully one day we will 
have an installer that will take care of these steps automatically. </p>
<ol>
<li>The DLLs in the <tt>external/bin</tt> directory must be in your path.  This can be accomplished on WindowsXP by selecting 
<tt>Start Menu -> Control Panel -> System -> Advanced -> Environment Variables -> Path -> Edit</tt>.  In the edit box, append the 
full path to that directory, preceded by a semicolon, for example, <tt>; c:/blepo/external/bin</tt>.  (If you already have Visual
C++ running, then close and restart it in order to load the new path.)
<li>The NASM assembler, which is used to compile the assembly code, must be in your executable path.  The name of this file is 
<tt>nasm.exe</tt> and it resides in the <tt>external/bin</tt> directory.  For some inexplicable reason the previous step does not 
solve this problem, so you have to copy the <tt>nasm.exe</tt> file to an existing directory on your path, such as 
<tt>C:/Windows/System32</tt>.
<li>You will need to add the gsl (GNU scientific library) path to your include directory.  
  <ul>
  <li>In Visual C++ 6.0, 
<tt>Tools -> Options -> Directories -> Include files -> add blepo\external\WinGsl</tt>, where <tt>blepo</tt> is the path to your Blepo directory.  
  <li>In Visual Studio 2005/2008, follow the same step except <tt>Tools -> Options -> Projects -> VC++ Directories</tt>.
  </ul>
After this step, 
any project you create should work automatically.&nbsp; Alternatively, you can 
skip this step and add the include path individually to each project you create.</ol>

<p>
In addition, if you wish to capture images from a camera (e.g., USB webcam,
Data Translation DT3120, or IEEE 1394), you will need to install the driver.
For IEEE1394, you need to set it to use the CMU driver by following the instructions
in <tt>Capture/CaptureIEEE1394.h</tt>.  If you have any trouble, see the help in 
<tt>blepo/external/doc/IEEE1394</tt>.  After installing the driver, you may test 
your camera using Blepo code or the CMU test application in 
<tt>blepo/external/bin/1394CameraDemo.exe</tt>

<h2>Getting started with VS6.0</h2>

<p>Once you have performed these steps, you should be able to open <tt>Demo/Demo.dsw</tt>
or <tt>Test/Test.dsw</tt> in Visual C++ 6.0, compile the code, and run. These two 
workspaces will be a good starting point for learning how to build an executable 
using the library.

<p>
To create a new project to use Blepo, 
<ol>
<li>Create a project with <tt>File -> New -> Project</tt>
	<ul>
	<li>Either <tt>Win32 Console Application -> An application that supports MFC</tt>, or
	<li><tt>MFC App Wizard</tt> (Dialog based is the simplest, but the other application types should work as well)
	</ul>
<li>Make the project use the Blepo library.
	<ul>
	<li>The simplest option is to add Blepo to the workspace and make the project 
	dependent upon Blepo.  More specifically,
		<ol>
		<li><tt>Project -> Insert Project into Workspace</tt>
		<li>Select <tt>blepo/src/blepo.dsp</tt>
		<li>Set your project to the active project again (<tt>Project -> Set Active Project</tt>)
		<li>Make your project dependent upon Blepo (<tt>Project -> Dependencies</tt>, check the box next to <tt>Blepo</tt>) 
		</ol> 
	<li>Alternatively, you can compile Blepo separately and just add the .lib files to 
the project (the <tt>blepo.lib</tt> file as well as all the other <tt>.lib</tt> files in the Blepo project). 
	</ul>
<li>Include the Blepo header file (<tt>#include "blepo.h"</tt>).  For the compiler to find this file, you will need to do
one of the following:
	<ul>
	<li>Add the <tt>blepo/src</tt> path to your project include path (<tt>Project -> Settings -> C/C++ -> Additional include directories</tt>), or
	<li>add the path to your VC++ list of include directories (<tt>Tools -> Options -> Directories -> Include directories</tt>), or
	<li>put the path into the <tt>#include</tt> statement.
</ol>

<p>Notes:
<ul>
<li>When compiling on 64-bit Vista, some have received the error, "Performing custom build step ... nasmw.exe is not recognized as an internal or external command".  
This problem has also appeared on at least one Windows XP machine.  No solution has been found to the problem.  The workaround is to build Blepo on another machine
and copy the mmx*.obj and xmm*.obj object files.
</ul>

<h2>Converting to Visual Studio 2005/2008</h2>

Once you have followed the steps in 'Setting up your system' above,

<ol>
<li>Download and install VS2008 SP1, if you have not already.
<li> Open Demo.dsp in VS2008. It will go through a conversion and create a
Demo solution. In the Solution explorer on the left you will see the Demo
project as a part of 'Solution Demo'.
<li> Right click Solution Demo and add Blepo.dsp to it. Once again it will
convert and add it. Now right click the Demo project and set Project
Dependencies-> Demo dependent on Blepo (select the check box for Blepo).
<li> Remove the following:<ul>
<li>Blepo->Quick->mmx_convolve_prewitt_horiz_abs.asm
     <li>Blepo->Quick->mmx_convolve_prewitt_vert_abs.asm
     <li>Blepo->Image->FileIO->jpeglib->jpegtran.c
	 </ul>
because these are causing some linking problems. Blepo should build/link
fine without these.
<li> Make sure you have the Windows SDKs installed on your system. This is
supposed to be a part of VS2008, but it depends on the installation
package. It would be in C:\Program Files\Microsoft SDKs\Windows\v6.1
<li> Go to Tools->Options->Projects and Solution->VC++ Directories->Include files and set
"C:\Program Files\Microsoft SDKs\Windows\v6.1\Include" right at the top (above the Blepo include directory).
<li> Important:  Right click the Blepo project in your solution explorer:
<li>Select 'All Configurations' in the dropdown box at the top
<li>Blepo->Properties->Configuration properties-> C++ -> General -> Additional
include directories -> add
<tt>./</tt>
and nothing else... <br>
<li>In Tools --> Options --> VC++ Directories --> Include Files, please add
the following paths from your corresponding blepo directory, below the Microsoft SDK library path:<br>
blepo\external\Microsoft\DirectX\DXSDK\Include<br>
blepo\external\Microsoft\DirectX\DXSDK\Common<br>
blepo\external\Microsoft\DirectX\DXSDK\BaseClasses
<li>Right click Blepo project->Properties->Configuration Properties->C/C++->
Preprocessor-> <br>
In preprocessor definitions,
change _WIN32_WINNT=0x400 to _WIN32_WINNT=0x500
<li>Go to Demo project->Properties->Configuration
properties->Linker->Input->Ignore specific library -> add LIBCMT.lib (You
may not need to do this, but some people have reported that it is necessary).
<li>Now go to Build -> Rebuild solution
<li>Ctrl+F5 to run the Demo.
<li>See the instructions above under 'Getting started with VS6.0' for creating a new project.  The instructions
should largely translate to VS2005/2008.  <br><i>Note:  When using Visual Studio 2005/2008, you will receive compilation errors related to character strings.  
To fix this problem, click on your project, then Properties->Configuration Properties->General->Character
set(under Project Defaults), set to "Use Multibyte Character set"</i>
</ol>

<p>
Enjoy!