<title>Blepo History</title>
<center><h1>Blepo History</h1></center>

Log of Blepo versions:
<ul>
<li><i><a href="blepo_0.6.5.zip">Version 0.6.5 (28 Aug 2008)</a></i> (9 MB) -- 
fixed bug in chamfer; fixed bug in hsv to rgb conversion; fixed bug in chamfer; added fundamental matrix estimation; added Chan-Vese
demo now gives user ability to select image file to run for most algorithms; segmentation routines now return labels and pseudocolors; 
added wrapper for optical blow by block matching; added Bgr to Hsv conversion; fixed bug in LinearlyScale; modified Interp function; added InterpRect functions; fixed bug in load jpeg; 
<li><i><a href="blepo_0.6.4.zip">Version 0.6.4 ( 3 Sep 2008)</a></i> (9 MB) -- 
added Hough, graph-based color segmentation (Felzenszwalb-Huttenlocher), camshift; edit.copy and edit.original size in figure;<br>
removed instrset.obj (replaced with mmx_suported); upgraded to NASM 2.03.01 (changed name from nasm.exe to nasmw.exe to maintain consistency with earlier versions of Blepo);<br>
grab right mouse clicks in figure window; fixed many compiler errors with VS2005:  to compile with VS2005, do the following:
<ul>
<li>Project -> C/C++ -> General -> Remove all additional include directories
<li>
<pre>Add the following in Tools -> Projects and Solutions -> VC++ directories -> Include files:
...\blepo\src\
...\Microsoft Visual Studio 8\VC\include
...\blepo\external\WinGsl
...\blepo\external\Microsoft\DirectX\DXSDK\Common
...\blepo\external\Microsoft\DirectX\DXSDK\BaseClasses
...\blepo\external\Microsoft\DirectX\DXSDK\Include
</pre>
<li>Project -> Demo Properties -> Linker -> Input -> Ignore Specific Library
-> add LIBCMT.lib
<li>Add blepo.lib to Project -> Demo Properties -> Linker -> Input ->Additional dependencies. May be redundant, but you may get linking errors without it.
</ul>
<li><i><a href="blepo_0.6.3.zip">Version 0.6.3 (31 Jul 2008)</a></i> (9 MB) -- 
fixed bug in equivalence table, new version of KLT, various low-level functions, sped up region props
<li><i><a href="blepo_0.6.2.zip">Version 0.6.2 (24 Aug 2007)</a></i> (9 MB) -- 
replaced corrupted DLL files
<li><i><a href="blepo_0.6.1.zip">Version 0.6.1 ( 9 May 2007)</a></i> (8 MB) -- now using OpenCV v1.0, various minor changes (added AviFrameReader, bug fix in Canny, faster cross-correlation, affine warp, integral image, wallfollow, Reshape for image and matrix)
<li><i><a href="blepo_0.6.0.zip">Version 0.6   (16 Nov 2006)</a></i> (9 MB) -- camera calibration, watershed segmentation, elliptical head tracking, completed many of the image arithmetic and logical operations
<li><i><a href="blepo_0.5.0.zip">Version 0.5   ( 8 Jul 2006)</a></i> (8 MB) -- fixed small border bug in mmx_erode and mmx_dilate, updated to version 'OpenCV_b5a.exe', included profile face detection, replaced vector with Array in many places, now almost compiles in VC.Net
<li><i><a href="blepo_0.4.3.zip">Version 0.4.3 ( 3 Mar 2006)</a></i> (8 MB) -- fixed bug in connected components, fixed another bug in MMX routines (EBX is now pushed/popped), added split-and-merge, fast stereo matching, regionprops, Canny edge detector, FFT; greatly improved figure window with status bar and menu
<li><i><a href="blepo_0.4.2.zip">Version 0.4.2 (20 Sep 2005)</a></i> -- fixed bug in MMX routines (ESI and EDI registers are now pushed/popped)
<li><i>Version 0.4.1 (26 Aug  2005)</i> -- removed old .lib files, fixed bug in Interp
<li><i>Version 0.4   (24 Aug  2005)</i> -- contains basic image classes, figure class, matrix class,
		linear algebra using GSL, image load/save (PGM/PPM/BMP/JPEG), floodfill, logical operations using MMX/SSE2, face detection, 
		mean shift segmentation, KLT feature tracking, and USB webcam capture using DirectShow; 
		preliminary versions of convolution and correlation, morphological operations, histogram,
		snakes, elliptical head tracker, Efros-Leung texture synthesis, IEEE1394 capture, DT3120 capture.
</ul>