<title>Blepo computer vision library</title>
<center>
<img src="blepo.gif" width="264" height="101">
<h1>Blepo Computer Vision Library</h1>
</center>


<p align="left"> Blepo is an open-source C/C++ library to 
facilitate computer vision research and education.&nbsp; Its goals are 
threefold:
<ol>
<li>to enable researchers to focus on algorithm development 
rather than low-level details such as memory management, reading/writing files, 
capturing images, and visualization, <i>without sacrificing efficiency</i>;
<li>to 
provide a common platform for computer vision research, so that researchers can 
more easily share their latest algorithms with each other for comparison and 
extension; and
<li>to capture a repository of the more mature, well-established algorithms to enable 
their use by others both within and without the community to avoid having to 
reinvent the wheel.&nbsp;
</ol>
Blepo is designed to be easy to use, efficient, and extensive.  To quickly see what Blepo can do, take a look at the <b><a href="demo.html">demo</a></b>.


<p align="center"> 
<b><a href="overview.html">Overview</a></b> 
  <img src="dot.gif" width="17" height="7"> 
<b><a href="download.html">Download</a></b> 
  <img src="dot.gif" width="17" height="7"> 
<b><a href="tutorial.html">Tutorial</a></b> 
  <img src="dot.gif" width="17" height="7"> 
<b><a href="reference_manual.html">Reference manual</a></b> 
  <img src="dot.gif" width="17" height="7"> <b>
<a href="people.html">People</a></b> 
  <img src="dot.gif" width="17" height="7"> 
<b><a href="faq.html">FAQ</a></b></p>

<p>
<img src="under_construction.gif">Please keep in mind that the library and website are currently in a <i>pre</i>-alpha 
state.  See the FAQ.