<title>Blepo people</title>
<center><h1>Blepo People</h1></center>

Many thanks to all those who have contributed code to Blepo, or who have helped in various ways.

<p>
<b>Contributors:</b>  
<ul>
<li>Stan Birchfield, Clemson University
<li>Manish Shiralkar, Clemson University
<li>Prashant Oswal, Clemson University
<li>Braga Natarajan, Clemson University
<li>Yi Zhou, Clemson University
</ul>

<p>
<b>Acknowledgements:</b> 
<ul>
<li>Olaf Hall-Holt (general support)
<li>Smaller Animals Software (BMP/JPEG reading/writing)
<li>GNU GPL team (linear algebra functions)
<li>OpenCV team (face detection, camera calibration, ...)
<li>CMU IEEE 1394 team (IEEE 1394 capture)
<li>Agner Fog (assembly optimizations)
<li>Chris Christoudias and Bogdan Georgescu (mean shift segmentation)
<li>Pedro Felzenszwalb (graph-based segmentation)
<li>Dobri Kolev (memory leak bug fixes to face detection code)
<li>Neeraj Kanhere (MMX code and documentation)
<li>Jithu Menon
<li>Prakash C. (fixed bug in chamfer)
<li>Peng Xu (improved EnlargeBy... functions)
</ul>
</p>
